container()
	width 960px
	margin 0 auto
.clear
	clear both
.hide
	display none
bold()
	font-weight bold
public_placehoder()
/*placehoder属性的默认颜色*/
	::-webkit-input-placeholder
		color #bfbfbf
	:-moz-placeholder
		color #bfbfbf
	::-moz-placeholder
		color #bfbfbf
	:-ms-input-placeholder
		color #bfbfbf